<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="auth.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="auth.password">
        </label>
      </div>
    </form>
    <button class="padding button button-block button-positive" ng-click="doLogin()">Sign In</button>
    <button class="padding button button-block button-positive" type="doLoginFacebook()">Sign In using Facebook</button>
  </ion-content>
</ion-modal-view>
